<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.RechargeDao">

    <select id="get" resultType="com.bootdo.system.domain.RechargeDO">
		select
		`id`,`user_id`,`type`,`begin_time`,`end_time`,`amount`,`gmt_create`
		 from
		sys_recharge where id = #{id}
	</select>

    <select id="list" resultType="com.bootdo.system.domain.RechargeDO">
        select
        `id`,`user_id`,`type`,`begin_time`,`end_time`,`amount`,
        `gmt_create`
        from sys_recharge
        <where>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from sys_recharge
        <where>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.bootdo.system.domain.RechargeDO"
            useGeneratedKeys="true" keyProperty="userId">
		insert into sys_recharge
		(
			`id`,`user_id`,`type`,`begin_time`,`end_time`,`amount`,
		`gmt_create`
		)
		values
		(
			#{id},
			#{userId},
			#{type},
			#{beginTime},
			#{endTime},
			#{amount},
			#{gmtCreate}
		)
	</insert>

    <delete id="remove">
		delete from sys_recharge where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from sys_recharge where id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>