<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="user/index/include_file::header"></head>
<body>
<nav th:include="user/index/include_file::nav"
     class="navbar navbar-default navbar-custom navbar-fixed-top"></nav>
<header class="intro-header"
        style="background-image: url('/img/blog/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <span class="subheading">多媒体素材系统</span>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
    .user_name {
        font-size: 16px;
    }

    .create_time {
        font-size: 14px;
        text-align: right;
    }

    .content {
        font-size: 16px;
        margin-left: 50px;
    }

    .eachlist {
        border-bottom: 1px dotted gray;
    }

    .post-preview{
        border: 3px dotted #337ab7;
        margin-bottom: 20px;
    }
</style>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div id="incomeNum"></div>
            <div class="clearfix">
                <p id="flagLoaded" style="display: none; text-align: center;">
                    已全部加载</p>
                <a id="flagLoad" style="display: none;"
                   class="btn btn-secondary float-right"
                   href="javascript:void(0)" onclick="nextPage()">更早 &rarr;</a>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="user/index/include_file::footer"></div>
<script type="text/javascript">
    var limit = 10;
    var currentPage = 0;
    var total;
    $(function () {
        bindList(0);
    });

    function nextPage() {
        bindList(currentPage * limit)
    }

    function bindList(offset) {
        $('#incomeNum').html("");
        $
            .ajax({
                url: '/common/sysFile/list?status=Audited&limit=10&offset=' +
                offset,
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    var rows = data.rows;
                    total = data.total;
                    var htmlText = "";
                    for (i = 0; i < rows.length; i++) {
                        htmlText += '<div class="post-preview"><div>';
                        if (rows[i].fileRelation.type == 0) {
                            htmlText +=
                                '<img  style="width: 400px;height: 400px;" src="' +
                                rows[i].fileRelation.url + '">';
                        } else if (rows[i].fileRelation.type == 1) {
                            htmlText += '<a>文档素材</a>';
                        } else if (rows[i].fileRelation.type == 2) {
                            htmlText +=
                                '<video style="width: 400px;height: 400px;" controls="controls" src="' +
                                rows[i].fileRelation.url + '"></video>';
                        } else if (rows[i].type == 3) {
                            htmlText +=
                                '<audio  controls="controls" src="' +
                                rows[i].fileRelation.url + '"></audio>';
                        }
                        htmlText += '</div><button class="btn-primary" onclick="download(' +
                            rows[i].fileRelation.id + ')">点我下载</button>&nbsp;&nbsp;';
                        htmlText += '<button class="btn-primary" onclick="collection(' +
                            rows[i].fileRelation.id + ')">点我收藏</button>&nbsp;&nbsp;';
                        htmlText += '<button class="btn-primary" onclick="comment(' +
                            rows[i].fileRelation.id +
                            ')">我要评论</button>&nbsp;&nbsp;';
                        htmlText += '<p class="post-meta">作者：<a href="#">'
                            + rows[i].fileRelation.userName
                            + '</a> &nbsp;&nbsp; '
                            + rows[i].fileRelation.createDate + '</p>';
                        //封装评论内容
                        htmlText +=
                            '<div style=" border: 2px solid gray;margin-left: 30px;">';
                        for (j = 0; j < rows[i].commentDOList.length; j++) {
                            htmlText = htmlText +
                                '<div class="eachlist"><div class="user_name">' + rows[i].commentDOList[j].userName + '</div>';
                            htmlText = htmlText + '<div class="content">' + rows[i].commentDOList[j].content + '</div>';
                            htmlText = htmlText + '<div class="create_time">' + rows[i].commentDOList[j].createTime + '</div></div>';
                        }
                        htmlText += '</div>';
                        htmlText += '</div>';
                    }
                    $("#incomeNum").append(htmlText);
                    document.getElementById("flagLoad").style.display = "block";
                    currentPage++;
                    if (total <= currentPage * limit) {
                        document.getElementById("flagLoaded").style.display = "block";
                        document.getElementById("flagLoad").style.display = "none";
                    }
                }
            });
    }

    function download(id) {
        $.ajax({
            url: "/common/sysFile/download",
            type: "post",
            data: {
                'id': id
            },
            success: function (r) {
                if (r.code == 0) {
                    download1(r.msg, r.msg.substring(7));
                } else {
                    layer.msg(r.msg);
                }
            }
        });
    }

    function collection(id) {
        $.ajax({
            url: "/common/collection/save",
            type: "post",
            data: {
                'fileId': id
            },
            success: function (r) {
                if (r.code == 0) {
                    layer.msg(r.msg);
                    bindList(0);
                } else {
                    layer.msg(r.msg);
                }
            }
        });
    }

    function comment(fileId) {
        // iframe层
        layer.open({
            type: 2,
            title: '增加评论',
            maxmin: true,
            shadeClose: false, // 点击遮罩关闭层
            area: ['800px', '520px'],
            content: '/common/comment/add/' + fileId
        });
    }

    function download1(src, fileName) {
        var $a = document.createElement('a');
        $a.setAttribute('href', src);
        $a.setAttribute('download', fileName);
        var fileLink = document.createElement('span');
        fileLink.setAttribute('style', 'cursor: pointer; -webkit-tap-highlight-color: transparent');
        $a.appendChild(fileLink);
        var body = document.getElementsByTagName('body')[0];
        body.appendChild($a);
        fileLink.click();
        body.removeChild($a);
    }
</script>
</html>
