<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="user/index/include_file::header"></head>
<body>
<nav th:include="user/index/include_file::nav"
     class="navbar navbar-default navbar-custom navbar-fixed-top"></nav>
<header class="intro-header"
        style="background-image: url('/img/blog/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <span class="subheading">多媒体素材管理系统</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div id="createTime">当前会员到${}到期</div>
            <button onclick="showmodal(1)">充值一个月的会员</button>
            <button onclick="showmodal(3)">充值三个月的会员</button>
            <button onclick="showmodal(6)">充值六个月的会员</button>
            <button onclick="showmodal(12)">充值十二个月的会员</button>
            <div id="incomeNum"></div>
            <div class="clearfix">
                <p id="flagLoaded" style="display: none; text-align: center;">
                    已全部加载</p>
                <a id="flagLoad" style="display: none;"
                   class="btn btn-secondary float-right"
                   href="javascript:void(0)" onclick="nextPage()">更早 &rarr;</a>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="user/index/include_file::footer"></div>
<script type="text/javascript">
    var limit = 10;
    var currentPage = 0;
    var total;
    $(function () {
        bindList(0);
        getRechargeTime();
    });

    function nextPage() {
        bindList(currentPage * limit)
    }
function getRechargeTime() {

}
    function bindList(offset) {
        $('#incomeNum').html("");
        $
            .ajax({
                url: '/sys/recharge/minerecharge?limit=10&offset=' +
                offset,
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    var rows = data.rows;
                    total = data.total;
                    var htmlText = "";
                    for (i = 0; i < rows.length; i++) {
                        htmlText += '<div class="post-preview">';
                        htmlText += '<p class="post-meta">金额：'
                            + rows[i].amount
                            + ' &nbsp;&nbsp;类型： '
                            + rows[i].type +
                            ' &nbsp;&nbsp; 开始时间：'+rows[i].beginTime+'&nbsp;&nbsp;结束时间'+rows[i].endTime+'</p>';
                        htmlText += '</div>';
                        htmlText += '<hr>';
                    }
                    $("#incomeNum").append(htmlText);
                    document.getElementById("flagLoad").style.display = "block";
                    currentPage++;
                    if (total <= currentPage * limit) {
                        document.getElementById("flagLoaded").style.display = "block";
                        document.getElementById("flagLoad").style.display = "none";
                    }
                }
            });
    }
    
    function showmodal(type) {
        layer.confirm("确认要要充值'" + type + "'个月的会员吗?", {
            btn: ['确定', '取消']
            // 按钮
        }, function () {
            $.ajax({
                url: "/sys/recharge/save",
                type: "post",
                data: {
                    'number': type
                },
                success: function (r) {
                    if (r.code == 0) {
                        layer.msg(r.msg);
                        bindList(0);
                    } else {
                        layer.msg(r.msg);
                    }
                }
            });
        });
    }
</script>
</html>
