<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">多媒体素材后台管理系统</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>本多媒体素材管理系统可以使用户能够方便的找寻自己所需的资源，然后进行分类，</li>
            <li>这样可以极大的缩短搜索的时间，提高效率，用户可以更好的获取资源，</li>
            <li>同时，也可以将有效的资源进行上传，使素材库的资源不断的丰富，</li>
            <li> 让更多的人可以获取到丰富的多媒体素材资源得以使用。</li>
        </ul>
    </div>
</div>
</body>
</html>